@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* fuente principal del sitio */
  --font-sans: var(--font-main);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #f3eee7; /* si también querés el fondo global */
  color: #404040;
  font-family: var(--font-main), serif; /* todo usa PT Serif */
}

a:focus-visible {
  outline: 2px solid #000;
  outline-offset: 3px;
}
